<md-toolbar>
    <div class="w70p float-left">
        <bonamondo-menu-sidenav [params]="paramsToMenu"></bonamondo-menu-sidenav>
        <a [routerLink]="['/main/home']"> <span id="toolbar-title">{{title}}</span> </a>
    </div>    
    
    <div class="w30p float-left">
        <bonamondo-logout [params]="paramsToLogout" class="float-right"></bonamondo-logout>        
    </div>

    <div class="clear-both"></div>
</md-toolbar>
  
<div id="router-outlet">
    <router-outlet></router-outlet>
</div>