<div *ngIf="errors.length < 1">
  <button md-mini-fab type="button" color="primary" (click)="toggleMenu()"
  id="button-trigger-menu">
    <md-icon>{{params.mdIconToMenuTrigger}}</md-icon>
  </button>

  <div [@myAnimation] id="menu-full" *ngIf="menuOpened">
    <div id="search-menu-area">
      <md-input-container>
        <input mdInput type="search" placeholder="Search">
        <md-icon>search</md-icon>
      </md-input-container>
    </div>
    <div id="modules-menu-area">
      <div class="menu-item" *ngFor="let item of menuIcons.menuModules">
        <a (click)="navigate(item.route)">
          <div><md-icon>{{item.icon}}</md-icon></div>
          <div>{{item.description}}</div>
        </a>
      </div> 
    </div>
    <div id="favourite-menu-area">
      <div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="errors.length > 0">
  <md-error *ngFor="let error of errors">
    {{error.cod}}
  </md-error>
</div>